@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

.react-datetime-picker__wrapper{
    border: 0px solid red !important;
}
.react-datetime-picker__inputGroup{
    color: #fff !important;
}
.react-datetime-picker__calendar-button svg{
    stroke: #fff !important;
}
.react-datetime-picker__clear-button svg{
    stroke: #fff !important;
}

.react-datetime-picker__clock--open{
    display: none;
}


@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
}